<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Phrase Playlist Generator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Our styles -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container text-center">
      <h1>Spotify Phrase Playlist Generator</h1>
      <br>
      <form>
        <div class="form-group">
          <label for="phrase">Phrase</label>
          <textarea class="form-control" id="phrase" rows="3" placeholder="Your Phrase Here" required minlength=2 maxlength=100></textarea>
        </div>
        <button class="btn btn-success btn-lg" type="submit" onsubmit="">Create a Playlist</button>
      </form>
      <h5>Ouput</h5>
      <p id="output">{{output}}</p>
    </div>
    <!-- Our JavaScript -->
    <script src="script.js"></script>
</body> 
</html> 