<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate with Spotify</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Our styles -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container text-center">
        <h1>Spotify Phrase Playlist Generator</h1>
        <br>
        <form action="" method="post">
            <input class="btn btn-success btn-lg" type="submit" name="login" value="Click to Authenticate with Spotify"/>
        </form>
      </div>
</body>
</html>